.container {
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.img {
    margin-bottom: 42px;
    width: 64px;
    height: 64px
}

.title {
    height: 62px;
    font-weight: 400;
    font-size: 22px;
    line-height: 30.8px;
    text-align: center;
    color: #808080;
}

@media all and (max-width: 960px) {
    .text {
        height: 56px;
    }
}

@media all and (max-width: 416px) {
    .container {
        height: 40vh;
    }
}