@font-face {
  font-family: "Inter";
  src: url("./assets/Inter-Regular.ttf") format("truetype");
}

.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
  font-family: inter;
  background-color: #E5E5E5;
}